.skills__container{
    grid-template-columns: repeat(4,2fr);
    gap: 3.875rem;
    flex-wrap: wrap;
}

.skills__card{
    text-align: center;
    display: block;
    padding: 1.875rem;
    border-radius:var(--border-radius);
    background-color: rgb(142, 102, 191);
    transition:all 0.3s ease-in-out;
    box-shadow: var(--shadow);
    width: 200px;
    height: 200px;
}

.skills__card:hover{
 transform: translateY(-10px);
}

.skills__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #ffff;
}

@media screen and (max-width:1140px) {
    .skills__container{
     grid-template-columns: repeat(2, 210px);
     justify-content: center;
     flex-wrap: wrap;
    }
}
@media screen and (max-width:1024px) {
    .skills__container{
     grid-template-columns: repeat(2, 210px);
     justify-content: center;
     row-gap: 1.875rem;
     flex-wrap: wrap;
    }
}
@media screen and (max-width:768px) {
    .skills__container{
        grid-template-columns: repeat(2, 210px);
        gap: 0.875rem;
    }

    .section__title{
        margin-bottom: 10px;
    }

    .skills__card{
        width:180px;
        height: 180px;
    }
}

@media screen and (max-width:576px) {
    .skills__container{
        column-gap: 0;
        grid-template-columns: repeat(2, 180px);

    }
    
    .skills__card{
        width:140px;
        height: 140px;
    }

}
@media screen and (max-width:480px) {
    .skills__container{
        column-gap: 0;
        grid-template-columns: repeat(2, 155px);

    }

}
@media screen and (max-width:350px) {
    .skills__container{
        column-gap: 0;
        grid-template-columns: repeat(2, 150px);

    }

     .section{
        padding-bottom: 1.875rem;
      }

}